body {
	padding:0;
	margin:0;
	font-family: tahoma, verdana, arial, sans-serif, Lucida Sans;
	font-size: 11px;
}

#online img, #offline img{
	padding:0;
	margin:0;
}
#totalCount,
#onCount, #online,
#offCount, #offline {
	display:block;
	clear:both;
}
#totalCount, #online, #offline {
	margin-bottom:20px;
}

/* изображение прелоадер */
#loader {
	width: 100%; 
	height: 100%; 
	position: fixed; 
	text-align: center; 
	z-index: 1000; 
	background-color: #fff; 
	opacity: 0.80;
}

#loader img{
	position: absolute; 
	left: 50%; 
	top: 50%; 
	margin: -40px 0 0 -40px;
}