* {
    margin: 0;
    padding: 0;
   }

.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

#down_panel {
	position: absolute;
	z-index: 1;
	left: -3px;
    top: 530px;
}
#down_magaz {
	position: absolute;
	z-index: 2;
	left: 608px;
    top: 578px;
}
