* {
    margin: 0;
    padding: 0;
   }

.locked {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

.down_panel {
	margin: -3;
    padding: 530;
}